<aol-map [width]="'100%'" [height]="'100%'">

  <!--https://goo.gl/6NuLby == https://imgs.xkcd.com/comics/online_communities.png-->

  <aol-view
    [zoom]="1"
    [maxZoom]="8"
    [center]="[400, 200, 0, 0]"
    [projection]="'EPSG:4326'"
  >
  </aol-view>

  <aol-layer-image>
    <aol-source-imagestatic [url]="'https://goo.gl/6NuLby'" [imageExtent]="[0, 0, 1024, 968]"></aol-source-imagestatic>
  </aol-layer-image>
</aol-map>

<span>zoom:</span><button (click)="increaseZoom()">+</button><button (click)="decreaseZoom()">-</button><br>
